<h1><%= t ".reset_password" %></h1>
<h4>
  <%= t ".headline" %>
</h4>
<p>
<%= link_to t(".reset_password"), edit_user_password_reset_url(@user, @user.reset_token) %>
</p>
<p>
<%= t ".reset_password_warning" %>
</p>
