<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to t(".review_admin"), admin_path, class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
  <ul class="topbar-admin-nav">
    <li>
      <%= link_to t(".public_site"), root_path, method: :delete, class: "nav_link btn" %>
    </li>
    <li>
      <%= link_to t(".logout"), logout_path, method: :delete, class: "nav_link btn" %>
    </li>
  </ul>
</nav>
