<div class="col-md-3 col-sm-6 col-small">
  <div class="trailer-item">
    <a href="<%= film.trailer %>" data-lity class="trailer">
      <%= image_tag film.video_thumbnail_url, class: "thumb-video"  %>
      <%= image_tag("play.png", class: "play") %>
    </a>
  </div>
</div>
