default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: localhost
  username: root
  password:
  # socket: /var/run/mysqld/mysqld.sock
  # socket: /tmp/mysql.sock
development:
  <<: *default
  database: review_films
test:
  <<: *default
  database: review_films_test

staging:
  <<: *default

production:
  <<: *default
  database: review_films_production
