<tr>
  <td class="title-table">
    <span><%= category.name %></span>
  </td>
  <td>
    <ul class="cat-action">
      <li>
        <%= link_to t("edit"), edit_admin_category_path(category) %>
      </li>
      <li>
        <%= link_to t("delete"), admin_category_path(category), method: :delete, data:{confirm: t("delete_confirm")} %>
      </li>
    </ul>
    <span>
      Only admin to action
    </span>
  </td>
  <td>
    <%= category.film_categories.count %>
  </td>
</tr>
