@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
$title-color: #252525;
$accent-color: #F26522;
#rateYo{
  display: inline-block;
  margin-left: 10px;
}
#count-rate{
  font-weight: normal;
  margin-left: 20px;
}
body{
  font-family: 'Open Sans', sans-serif;
  color: $title-color;
  font-size: 14px;
}
a{
  cursor: pointer;
  transition: 0.3s;
  color: $title-color;
  &:hover{
    color: $accent-color;
  }
}
img{
  max-width: 100%;
  height: auto;
}
ul{
  margin: 0;
  padding: 0;
}

.text-content{
  line-height: 2;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 300;
}
.btn{
  border-radius: 0;
  background: #F26522;
  border-color: $accent-color;
  color: #fff;
  transition: 0.3s;
  &:hover{
    background: $title-color;
    border-color: $title-color;
  }
}
.form-control{
  border-radius: 0;
  background: #fafafa;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ced4da;
    font-size: 12px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ced4da;
  font-size: 12px;  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ced4da;
    font-size: 12px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ced4da;
    font-size: 12px;
  }
}

@import "header";
@import "footer";
@import "review";
@import "archive";
@import "film";
@import "index";

.account{
  background: #E5E5E5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-login{
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 650px;
    text-align: center;
    h3{
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 24px;
    }
    .btn-submit{
      background: $title-color;
      width: 100%;
      &:hover{
        background: rgba($title-color, 0.8)
      }
    }
  }
}

// Pagination
.pagination{
  margin-top: 40px;
  justify-content: center;
  span, em, a{
    display: inline-block;
    border: 1px solid #252525;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 5px;
    font-weight: 600;
    &:hover{
      background: #252525;
      color: #fff;
      text-decoration: none;
    }
  }
  .disabled,.current{
    background: #252525;
    color: #fff;
    text-decoration: none;
    cursor: not-allowed;
  }
}

// Login -Signup
.account{
  fieldset{
    width: 500px;
  }
  form{
    padding: 20px;
    padding-top: 40px;
    background: #fff;
    box-shadow: 5px 5px 10px 0px #ccc;
  }
}

//Loading review
#review-content.loading{
  .modal-body{
    background: asset_url("loading.svg") center center no-repeat;
  }
}