<div class="archive-film-item">
  <div class="thumb">
    <a href="#">
    <% if film.thumbnail.present? %>
      <%= image_tag film.thumbnail_url %>
    <% end %>
    </a>
  </div>
  <div class="info">
    <h3 class="title">
      <a href="#"><%= film.name %></a>
    </h3>
    <ul class="meta">
      <li>
        <i class="fas fa-archive"></i>
        <% film.categories.each do |category| %>
          <%= link_to category.name, category_path(category) %>
        <% end %>
      </li>
      <li>
        Rating
      </li>
    </ul>
    <p class="desc">
      <%= raw film.introduction.truncate 500 %>
    </p>
    <a href="#" class="readmore">View more
      <i class="fas fa-arrow-right"></i>
    </a>
  </div>
</div>
