<div class="row">
  <div class="col-md-12">
    <div class="block-section">
      <h3>Name</h3>
      <%= @user.name %>
    </div>
    <div class="block-section">
      <h3>Email</h3>
      <%= @user.email%>
    </div>
    <div class="block-section">
      <h3>Join date</h3>
      <%= @user.created_at%>
    </div>
  </div>
</div>
